body {
  background-color:#2F2F2F;
}

.system {
  background-color:#D3D3D3;
  width:650px;
  margin:0;
  border-radius:20px;
  text-align:left;
  margin:0 auto;
  padding: 20px 25px;
  margin-top: 30px;

}

.data {
  background-color:	#D3D3D3;
  width:670px;
  margin:0;
  border-radius:20px;
  text-align:left;
  margin:0 auto;
  padding: 15px;
}

h2 {
  color:black;
  padding-top:20px;
}

select {
  color:black;
  border-radius:5px;
  width:150px;
  height:20px
}

.search {
  border-radius:5px;
  height:20px;

}

span {
  background-color:#5cb85c;
  color:white;
  padding:10px;
  border-radius:5px;
  display:table;
  margin-top:20px;
  cursor: pointer;
}


button {
    background-color:#5cb85c !important;
    color:white;
    padding:10px;
    border-radius:5px;
}

  .fields {
    float: left;
  }


.buttons {
  float: right;
  display: inline-flex;
}

